<template>
  <q-page padding>
    <Menu>

    </Menu>
    <!-- content -->
  </q-page>
</template>

<script>
import Menu from 'src/components/Menu.vue'
export default {
  components: { Menu }
}
</script>
