<template>
  <q-page padding>
    <h2 class="test1">Login</h2>
    <div> <h6 >Email</h6>  </div>
  <div style="max-width: 300px">
    <q-input
      v-model="text"
      filled
      autogrow
    />
    <h6> Pasword </h6>
  </div>
  <div  style="max-width: 300px">
    <q-input
      v-model="text"
      filled
      autogrow
    />
  </div>

  <div>
    <router-link to="Index">KLIK DI SINI </router-link>
    <Menu>

    </Menu>
  </div>
<div class="a">

  <p class="lo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae, odit consequatur, placeat molestias necessitatibus suscipit asperiores est quibusdam debitis odio consectetur vero ipsa, quo recusandae eum. Culpa blanditiis excepturi deleniti.</p>
  <p class="lo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae, odit consequatur, placeat molestias necessitatibus suscipit asperiores est quibusdam debitis odio consectetur vero ipsa, quo recusandae eum. Culpa blanditiis excepturi deleniti.</p>

  <!-- <div class="b"> -->

  <!-- </div> -->
</div>
  </q-page>
</template>

<script>
// import { Menu } from 'src/components/Menu.vue'
import Menu from '../components/Menu.vue'

export default {
  components: { Menu }
}
</script>

<style>
.test1 {
  margin-left: 900px;
}

.a {
  width: 500px;
  height: 500px;
  background-color: blue;
/* float:right ; */
margin-right: 500px;
padding-top: 10px;

}

.lo {
  margin-left: 50px;
  margin-top: 50px;

}

/* .b {
  width: 200px;
  height: 100px;
  background-color: brown;
  margin-top: 400px;
  margin-left: 200px;

} */
</style>
