<template>
  <img
      alt="Quasar logo"
      src="~assets/bulan.jpg"
      style="width: 200px;
      height: 100px"
    >
</template>

<script>
export default {
  name: 'Gambar',
  setup () {
    return {}
  }
}
</script>
