<template>
  <div>MenuUtama</div>
  <router-link to="sabtuku">Utama </router-link>
  <router-link to="halaman2">Halaman2 </router-link>
  <router-link to="Halaman3">Halaman3</router-link>
  <router-link to="Halaman4">Halaman4</router-link>
  <Gambar></Gambar>
</template>

<script>
import Gambar from '../components/Gambar.vue'
export default {
  name: 'Menu',
  components: { Gambar },
  setup () {
    return {}
  }
}
</script>
