<template>
  <q-layout view="hHh lpR fFf" class="m">

    <q-header reveal elevated class="bg-dark text-white">
      <q-toolbar>
        <q-toolbar-title class="m">
          Firman Prasetyo Nugroho
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer reveal elevated class="bg-dark text-white">
      <q-toolbar>
        <q-toolbar-title class="m">
          Prazey
        </q-toolbar-title>
      </q-toolbar>
    </q-footer>

  </q-layout>
</template>
<script>
import { ref } from 'vue'

export default {
  // name: 'LayoutName',

  setup () {
    const leftDrawerOpen = ref(false)

    return {
      leftDrawerOpen,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  }
}
</script>
